@import "compass";

@mixin element($element) {
  &__#{$element} {
    @content;
  }
}
@mixin modifier($modifier) {
  &_#{$modifier} {
    @content;
  }
}
@mixin modifier_value($modifier_value) {
  &_#{$modifier_value} {
    @content;
  }
}
@mixin clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}
@font-face {
  font-family: 'Kontur Icons';
  src: url('../../fonts/kontur-icon.eot');
  src: url('../../fonts/kontur-icon.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/kontur-icon.woff2') format('woff2'),
  url('../../fonts/kontur-icon.woff') format('woff'),
  url('../../fonts/kontur-icon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@mixin modifier_icon() {
  margin-right: 5px;
  font-family: "Kontur Icons";
}
$side-pnl-default-color: #bcbcbc;
$side-pnl-active-color: #5199db;
$side-pnl-error-color: #f6c1c0;

$focus-outer: #5199db;
$focus-inner: white;

$text-color: #404040;

$button-theme-shadow-inner: rgba(0, 0, 0, 0.15);

$button-theme-positive-color: white;
$button-theme-positive-up-bg: #4ba91d;
$button-theme-positive-down-bg: #37910b;
$button-theme-positive-hover-up-bg: #3b8d13;
$button-theme-positive-hover-down-bg: #307e0a;
$button-theme-positive-border: rgba(26, 103, 6, 0.7);
$button-theme-positive-down-border: rgba(22, 80, 7, 0.8);
$button-theme-positive-hover-border: rgba(8, 73, 2, 0.7);
$button-theme-positive-hover-down-border: rgba(19, 71, 4, 0.8);
$button-theme-positive-active-bg: #35840e;
$button-theme-positive-active-border: rgba(7, 57, 0, 0.7);
$button-theme-positive-active-down-border: rgba(13, 40, 0, 0.8);

$button-theme-form-color: #404040;
$button-theme-form-up-bg: #fefefe;
$button-theme-form-down-bg: #ebebeb;
$button-theme-form-hover-up-bg: #f2f2f2;
$button-theme-form-hover-down-bg: #dedede;
$button-theme-form-border: rgba(0, 0, 0, 0.15);
$button-theme-form-down-border: rgba(0, 0, 0, 0.3);
$button-theme-form-hover-border: rgba(0, 0, 0, 0.15);
$button-theme-form-hover-down-border: rgba(0, 0, 0, 0.3);
$button-theme-form-active-bg: #d9d9d9;
$button-theme-form-active-border: rgba(0, 0, 0, 0.2);
$button-theme-form-active-down-border: rgba(0, 0, 0, 0.35);

$input-type-radio-checked-bg: #404040;
$input-type-radio-up-bg: #fefefe;
$input-type-radio-down-bg: #ebebeb;
$input-type-radio-hover-up-bg: #f2f2f2;
$input-type-radio-hover-down-bg: #dedede;
$input-type-radio-up-border: rgba(0, 0, 0, 0.1);
$input-type-radio-side-border: rgba(0, 0, 0, 0.2);
$input-type-radio-down-border: rgba(0, 0, 0, 0.3);
$input-type-radio-active-bg: #d9d9d9;
$input-type-radio-active-up-border: rgba(0, 0, 0, 0.2);
$input-type-radio-active-side-border: rgba(0, 0, 0, 0.3);
$input-type-radio-active-down-border: rgba(0, 0, 0, 0.4);
$input-type-radio-inner-shadow-bg: rgba(0, 0, 0, 0.15);

$input-type-text-bg: white;
$input-type-text-up-border: rgba(0,0,0,0.3);
$input-type-text-border: rgba(0,0,0,0.15);
$input-type-text-shadow: rgba(0,0,0,0.05);

$input-disable-bg: #f2f2f2;
$input-disable-border: rgba(0,0,0,0.15);
$input-disable-color: #808080;

$matrix-border-color: #404040;


body {
  font: 14px "Segoe UI";
  color: $text-color;
  line-height: 20px;
  min-width: 1200px;
}

.button {
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  border: 1px solid;
  height: 36px;
  position: relative;
  padding: 0 7px 0 7px;
  @include border-radius(3px, 3px);
  &:focus {
    outline: 0;
    border-color: $focus-outer;
    @include box-shadow(0px 0px 0px 1px $focus-inner inset, 0px 0px 0px 1px $focus-outer);
  }
  &:active {
    @include single-box-shadow(0px, 2px, 1px, 0px, $button-theme-shadow-inner, inset);
  }

  @include modifier('theme') {
    @include modifier_value('positive') {
      font-size: 16px;
      padding: 0 20px 0 20px;
      height: 42px;
      color: $button-theme-positive-color;
      @include background-image(linear-gradient($button-theme-positive-up-bg, $button-theme-positive-down-bg));
      border-top-color: $button-theme-positive-border;
      border-right-color: $button-theme-positive-border;
      border-left-color: $button-theme-positive-border;
      border-bottom-color: $button-theme-positive-down-border;
      // toDO: need to refactor button__triangle
      .button__triangle {
        &:after {
          @include background-image(linear-gradient(90deg, $button-theme-positive-up-bg, $button-theme-positive-down-bg));
          border-top-color: $button-theme-positive-border;
          border-right-color: $button-theme-positive-border;
        }
      }
      &:hover {
        border-top-color: $button-theme-positive-hover-border;
        border-right-color: $button-theme-positive-hover-border;
        border-left-color: $button-theme-positive-hover-border;
        border-bottom-color: $button-theme-positive-hover-down-border;
        @include background-image(linear-gradient($button-theme-positive-hover-up-bg, $button-theme-positive-hover-down-bg));
        .button__triangle {
          &:after {
            @include background-image(linear-gradient(90deg, $button-theme-positive-hover-up-bg, $button-theme-positive-hover-down-bg));
            border-top-color: $button-theme-positive-hover-border;
            border-right-color: $button-theme-positive-hover-border;
          }
        }
      }
      &:focus {
        .button__triangle {
          &:after {
            outline: 0;
            border-color: $focus-outer;
            @include box-shadow(0px 0px 0px 1px $focus-inner inset, 0px 0px 0px 1px $focus-outer);
          }
        }
      }
      &:active {
        border-top-color: $button-theme-positive-active-border;
        border-right-color: $button-theme-positive-active-border;
        border-left-color: $button-theme-positive-active-border;
        border-bottom-color: $button-theme-positive-active-down-border;
        background: $button-theme-positive-active-bg;
        @include background-image(none);
        .button__triangle {
          &:after {
            @include box-shadow(none);
            @include background-image(none);
            background: $button-theme-positive-active-bg;
            border-top-color: $button-theme-positive-active-border;
            border-right-color: $button-theme-positive-active-border;
          }
        }
      }
    }

    @include modifier_value('form') {
      color: $button-theme-form-color;
      @include background-image(linear-gradient($button-theme-form-up-bg, $button-theme-form-down-bg));
      border-top-color: $button-theme-form-border;
      border-right-color: $button-theme-form-border;
      border-left-color: $button-theme-form-border;
      border-bottom-color: $button-theme-form-down-border;
      &:hover {
        border-top-color: $button-theme-form-hover-border;
        border-right-color: $button-theme-form-hover-border;
        border-left-color: $button-theme-form-hover-border;
        border-bottom-color: $button-theme-form-hover-down-border;
        @include background-image(linear-gradient($button-theme-form-hover-up-bg, $button-theme-form-hover-down-bg));
      }
      &:active {
        border-top-color: $button-theme-form-active-border;
        border-right-color: $button-theme-form-active-border;
        border-left-color: $button-theme-form-active-border;
        border-bottom-color: $button-theme-form-active-down-border;
        background: $button-theme-form-active-bg;
        @include background-image(none);
      }
    }

  }

  @include modifier('border-right') {
    @include modifier_value('none') {
      border-right: 0;
    }
  }

  @include modifier('icon') {
    @include modifier_value('clear') {
      &:before {
        content: "\E01F";
        @include modifier_icon;
      }
    }
    @include modifier_value('change') {
      &:before {
        content: "\E012";
        @include modifier_icon;
      }
    }
    @include modifier_value('add') {
      &:before {
        content: "\E00D";
        @include modifier_icon;
      }
    }
    @include modifier_value('remove') {
      &:before {
        content: "\E01E";
        @include modifier_icon;
      }
    }
  }

  @include element('triangle') {
    width: 44.5px;
    height: 44.5px;
    position: absolute;
    top: -2px;
    right: -21px;
    clip: rect(auto, 22px, auto, 2px);
    transform: rotate(180deg);
    &:after {
      content: "";
      position: absolute;
      top: 10px;
      bottom: 10px;
      left: 10px;
      right: 10px;
      border: 1px solid;
      border-radius: 3px;
      transform: rotate(225deg) skew(15deg, 15deg);
    }
  }

}

.input {
  @include modifier('type') {
    @include modifier_value('radio') {
      cursor: pointer;
      display:none;
      &:checked + label:before {
        border-top-color: $input-type-radio-active-up-border;
        border-right-color: $input-type-radio-active-side-border;
        border-left-color: $input-type-radio-active-side-border;
        border-bottom-color: $input-type-radio-active-down-border;
        background: $input-type-radio-active-bg;
        @include single-box-shadow(0px, 2px, 1px, 0px, $input-type-radio-inner-shadow-bg, inset);
        @include background-image(none);
        content: "\2022";
        color: $input-type-radio-checked-bg;
        font-size: 31px;
        text-align: center;
        line-height: 11px;
      }
      /*
      &:after {
        content: "";
        display: block;
        width: 15px;
        height: 15px;
        position: relative;
        top: -2px;
        @include background-image(linear-gradient($input-type-radio-up-bg, $input-type-radio-down-bg));
        border: 1px solid;
        border-top-color: $input-type-radio-up-border;
        border-right-color: $input-type-radio-side-border;
        border-left-color: $input-type-radio-side-border;
        border-bottom-color: $input-type-radio-down-border;
        @include border-radius(9px, 9px);
      }
      &:hover {
        &:after {
          border-top-color: $input-type-radio-up-border;
          border-right-color: $input-type-radio-side-border;
          border-left-color: $input-type-radio-side-border;
          border-bottom-color: $input-type-radio-down-border;
          @include background-image(linear-gradient($input-type-radio-hover-up-bg, $input-type-radio-hover-down-bg));
        }
      }
      &:focus {
        outline: 0;
        &:after {
          border-color: $focus-outer;
          @include box-shadow(0px 0px 0px 1px $focus-inner inset, 0px 0px 0px 1px $focus-outer);
        }
      }
      &:active, &:checked {
        &:after {
          border-top-color: $input-type-radio-active-up-border;
          border-right-color: $input-type-radio-active-side-border;
          border-left-color: $input-type-radio-active-side-border;
          border-bottom-color: $input-type-radio-active-down-border;
          background: $input-type-radio-active-bg;
          @include single-box-shadow(0px, 2px, 1px, 0px, $input-type-radio-inner-shadow-bg, inset);
          @include background-image(none);
        }
      }
      &:checked {
        &:after {
          content: "\2022";
          color: $input-type-radio-checked-bg;
          font-size: 31px;
          text-align: center;
          line-height: 18px;
        }
      }
      */
    }
    @include modifier_value('label') {
      display: inline-block;
      cursor: pointer;
      position: relative;
      margin-left: 5px;
      margin-right: 10px;
    }
    @include modifier_value('text') {
      border: 1px solid;
      border-top-color: $input-type-text-up-border;
      border-right-color: $input-type-text-border;
      border-left-color: $input-type-text-border;
      border-bottom-color: $input-type-text-border;
      background-color: $input-type-text-bg;
      @include single-box-shadow(0px, 2px, 1px, 0px, $input-type-text-shadow, inset);
      &:focus {
        outline: 0;
        border-color: $focus-outer;
        @include box-shadow(0px 0px 0px 1px $focus-inner inset, 0px 0px 0px 1px $focus-outer);
      }
    }
    @include modifier_value('fake-radio') {
      cursor: pointer;
      &:before {
        content: "";
        display: block;
        float: left;
        width: 15px;
        height: 15px;
        margin-right: 5px;
        position: relative;
        @include background-image(linear-gradient($input-type-radio-up-bg, $input-type-radio-down-bg));
        border: 1px solid;
        border-top-color: $input-type-radio-up-border;
        border-right-color: $input-type-radio-side-border;
        border-left-color: $input-type-radio-side-border;
        border-bottom-color: $input-type-radio-down-border;
        @include border-radius(9px, 9px);
      }
      &:hover {
        &:before {
          border-top-color: $input-type-radio-up-border;
          border-right-color: $input-type-radio-side-border;
          border-left-color: $input-type-radio-side-border;
          border-bottom-color: $input-type-radio-down-border;
          @include background-image(linear-gradient($input-type-radio-hover-up-bg, $input-type-radio-hover-down-bg));
        }
      }
      &:focus {
        outline: 0;
        &:before {
          border-color: $focus-outer;
          @include box-shadow(0px 0px 0px 1px $focus-inner inset, 0px 0px 0px 1px $focus-outer);
        }
      }
      &:active {
        &:before {
          border-top-color: $input-type-radio-active-up-border;
          border-right-color: $input-type-radio-active-side-border;
          border-left-color: $input-type-radio-active-side-border;
          border-bottom-color: $input-type-radio-active-down-border;
          background: $input-type-radio-active-bg;
          @include single-box-shadow(0px, 2px, 1px, 0px, $input-type-radio-inner-shadow-bg, inset);
          @include background-image(none);
        }
      }
    }
  }
  @include modifier('disable') {
    @include background-image(none);
    background-color: $input-disable-bg;
    border-color: $input-disable-border;
    color: $input-disable-color;
  }
}

.message {
  @include modifier('type') {
    @include modifier_value('error') {
      color: #da0902;
      display: none;
    }
  }
  @include modifier('display') {
    display: block;
  }
}

.side-pnl {
  position: absolute;
  width: 340px;
  height: 100%;
  top: 0;
  left: 0;
  padding: 30px;
  box-sizing: border-box;
  background-color: $side-pnl-default-color;

  @include modifier('active') {
    background-color: $side-pnl-active-color;
  }
  @include modifier('error') {
    background-color: $side-pnl-error-color;
  }

  @include element('container') {
    margin-bottom: 70px;
  }

  @include element('field') {
    margin-bottom: 10px;
    @include modifier('inline') {
      display: inline-block;
    }
  }
}

.action-area {
  padding-left: 340px;
  width: 100%;
  box-sizing: border-box;
  @include clearfix;
}

.matrix {
  padding: 10px;
  margin: 15px;
  position: relative;
  display: block;
  clear: both;
  float: left;
  &:after, &:before {
    content: " ";
    position: absolute;
    width: 10px;
    height: 100%;
    top: 0;
    border-top: 3px solid $matrix-border-color;
    border-bottom: 3px solid $matrix-border-color;
    box-sizing: border-box;
  }
  &:after {
    left: 0;
    border-left: 3px solid $matrix-border-color;
  }
  &:before {
    right: 0;
    border-right: 3px solid $matrix-border-color;
  }

  @include modifier('type') {
    @include modifier_value('a') {
      clear: right;
    }
  }

  @include element('label') {
    font-size: 24px;
    @include modifier('position') {
      @include modifier_value('right') {
        position: absolute;
        top: 0;
        right: -30px;
        height: 100%;
        &:before {
          content: '';
          display: inline-block;
          vertical-align: middle;
          height: 100%;
        }
      }
      @include modifier_value('bottom') {
        position: absolute;
        bottom: -30px;
        left: 0;
        width: 100%;
        text-align: center;
      }
    }
  }

  @include element('row') {
    @include clearfix;
  }
  @include element('col') {
    width: 40px;
    height: 40px;
    padding: 16px 4px 4px 4px;
    box-sizing: border-box;
    float: left;
    margin: 5px;
  }

}